<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>LOGO</span>

      <div class="spacer"></div>

      @if (user$ | async; as user) {
        <div class="action">

          <button mat-button>
            <mat-icon>account_circle</mat-icon>
            {{ user.firstName }} {{ user.lastName }}
          </button>
          <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      }
    </mat-toolbar>
    <button
      mat-icon-button
      (click)="openChat(sidenav)"
      aria-label="Toggle chat"
      class="toggle-chat"
      color="accent"
    >
      <mat-icon>chat</mat-icon>
    </button>
    <main>
      <router-outlet/>
    </main>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end">
    <mat-toolbar color="accent">Chat</mat-toolbar>
    <chat-content/>
  </mat-sidenav>
</mat-sidenav-container>
